<% include partials/_header %>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/comprasupdate/<%= data.idcompra %>" method="post">
                        <div class="form-group">
                            <input type="number" name="idpasaje" placeholder="id de pasaje" class="form-control" required>
            
                        </div>
                        <div class="form-group">
                                <input type="number" name="idpersona" placeholder="id de persona" class="form-control" required>
                
                            </div>
                            <div class="form-group">
                                    <input type="number" name="cantidad_de_equipaje" placeholder="cantidad de equipaje" class="form-control" required>
                    
                                </div>
                                <div class="form-group">
                                 <input type="number" name="idasiento" placeholder="id del asiento" class="form-control" required>
                 
                             </div>
            
                                <button type="submit" class="btn btn-primary">editar compra </button>
                    </form>
    
                </div>
            </div>
        </div>
    </div>
</div>


<% include partials/_footer %>