<% include partials/_header %>







<br>
<br>
<br>
<a href="/avionesalquilados" class="btn btn-info">Numero De Aviones Alquilados</a>
<br>
<br>
<br>

<a href="/destinosmasvisitados" class="btn btn-info">Destinos Mas Visitados</a>
<br>
<br>
<br>

<a href="/pasajeroabordado" class="btn btn-info">Pasajeros abordados por vuelo</a>
<br>
<br>
<br>

<a href="/pistaaeropuerto" class="btn btn-info">Distancia de las pistas por aeropuertos</a>
<br>
<br>
<br>

<a href="/bitacoradevuelo" class="btn btn-info">Bitacora de Vuelos</a>
<br>
<br>
<br>

<a href="/alquiladoprecio" class="btn btn-info">Aviones alquilados por precio distancia recorrida</a>
<br>
<br>
<br>

<a href="/compclien" class="btn btn-info">Datos cliente - comprador</a>
<br>
<br>
<br>

<a href="/pasclien" class="btn btn-info">Pasaje del cliente</a>

<% include partials/_footer %>