<% include partials/_header %>



<a href="/masvisitadopor" class="btn btn-info">Porcentaje de destinos mas visitados </a>

<br>
<br>
<br>


<a href="/porcentajetotalva" class="btn btn-info">Porcentaje de vuelos afectados </a>

<br>
<br>
<br>
<a href="/mesganancia" class="btn btn-info">Ganancias por mes </a>

<br>
<br>
<br>



<a href="/pasajesvsabordaje" class="btn btn-info">Pasajes vs abordaje</a>

<br>
<br>
<br>

<a href="/vuelosafectados" class="btn btn-info">Vuelos afectados por sobreventa</a>

<br>
<br>
<br>
<a href="/bitacoradevuelo" class="btn btn-info">Bitacora de Vuelos</a>
<br>
<br>
<br>

<a href="/destinosmasvisitados" class="btn btn-info">Destinos Mas Visitados</a>
<br>
<br>
<br>
<a href="/ingresoporvuelo" class="btn btn-info">Ingreso por Vuelo</a>

<br>
<br>
<br>

<a href="/pistaaeropuerto" class="btn btn-info">Distancia de las pistas por aeropuertos</a>
<br>
<br>
<br>
<a href="/avionesalquilados" class="btn btn-info">Numero De Aviones Alquilados</a>

<br>
<br>
<br>

<a href="/alquiladoprecio" class="btn btn-info">Aviones alquilados por precio distancia recorrida</a>
<br>
<br>
<br>

<a href="/compclien" class="btn btn-info">Datos cliente - comprador</a>
<br>
<br>
<br>

<a href="/pasclien" class="btn btn-info">Pasaje del cliente</a>
<br>
<br>
<br>

<a href="/pasajeroabordado" class="btn btn-info">Pasajeros abordados por vuelo</a>

<% include partials/_footer %>