<% include partials/_header %>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>pasajeros</th>
            <th>id_vuelo</th>
            
            


        </tr>


    </thead>


    <tbody>

        <% if (data) { %>
        <% for (var i =0 ; i< data.length; i++) { %>
                <tr>
                    <td>
                        <%= data[i].asientos %>
                    </td>
                    <td>
                        <%= data[i].ivuelos %>
                    </td>
                    
            
                </tr>


            <% } %>   
        <% } %>

    </tbody>
</table>


<% include partials/_footer %>