<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" >
    <title>PROYECTO</title>
   <link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-dark bg-dark" >
    <a href="/" class="navbar-brand" >Proyecto ADM</a>
    <a href="/compras" class="navbar-brand" >Compras</a>
    <a href="/asientos" class="navbar-brand" >Asientos</a>
    <a href="/pasajes" class="navbar-brand" >Pasajes</a>
    <a href="/vuelos" class="navbar-brand" >Vuelos</a>
    <a href="/precios" class="navbar-brand" >Precios</a>
    <a href="/clientes" class="navbar-brand" >Clientes</a>
    <a href="/rutas" class="navbar-brand" >Rutas</a>
    <a href="/aviones" class="navbar-brand" >Aviones</a>
    <a href="/proveedores" class="navbar-brand" >Proveedores</a>
    <a href="/mantenimientos" class="navbar-brand" >Mantenimientos</a>
    <a href="/compradores" class="navbar-brand" >Compradores</a>
    <a href="/avion_rutas" class="navbar-brand" >Ruta de Aviones</a>
    <a href="/pistas" class="navbar-brand" >Pistas</a>
    <a href="/aereopuertos" class="navbar-brand" >Aereopuertos</a>

</nav>